{% load staticfiles %}
{% load static %}

{% load i18n %}




{% block head %}
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
	<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
  <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

{% endblock head %}

<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="home.html"><img src="{% static 'images/pricecheck_logo.png' %}" alt="merkery_logo" class="hidden-xs hidden-sm">
                        <img src="{% static 'images/pricecheck_logo.png' %}" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                    </a>
                </div>
                <div class="navi">
                    <ul class="list-group borderless">
                        <li class="active"><a href="#" data-toggle="modal" data-target="#all_lists" id='id_all_lists'><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Lists</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                    <header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            <div class="search hidden-xs hidden-sm">
                                <h3 class="selected-list-heading">List Name: No List Selected</h3>
                                <ul>
                                	 <li class="hidden-xs"><a href="#" class="create-list" id="id_mark_all_list_items_complete">Mark All Complete</a></li>  
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">

                                 <li class="hidden-xs"><a href="#" class="create-list" data-toggle="modal" data-target="#create_list">Create List</a></li>
                                 <li class="hidden-xs"><a href="#" class="add-to-list" data-toggle="modal" data-target="#add_to_list">Add To List</a></li>



                                </ul>
                       
                            </div>
                        </div>
                    </header>
                </div>
                <div class="user-dashboard">
<div class="container">
    <div class="row clearfix">
    	<div class="col-md-12 table-responsive">
			<table class="table table-bordered table-hover" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center">
							Title
						</th>
						<th class="text-center">
							Description
						</th>
						<th class="text-center">
							Created
						</th>
    					<th class="text-center">
							Complete
						</th>
						 <th class="text-center">
							Action
						</th>
        				<th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;">
						</th>
					</tr>
				</thead>
				<tbody id='list-items-data-section'>
    				
				</tbody>
			</table>
		</div>
	</div>
</div>
                </div>
            </div>
        </div>

    </div>
{% include "dialogs.html" %}


</body>
{% block scripts %}
<script src="{% static 'dashboard.js' %}"></script>
{% endblock scripts %}