 <!-- Modal -->

    <!-- Add To List  Dialog -->
    <div id="add_to_list" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header login-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add To List</h4>
                </div>
                <div class="modal-body">
                            <input type="text" placeholder="List Item Title" name="list-item-name" id='id_list_item_title'>
                            <textarea placeholder="Description" id='id_list_item_description'></textarea>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="add-to-list" id='id_create_list_item_btn' data-dismiss="modal">Add To List</button>
                </div>
            </div>

        </div>
    </div>

   <!-- Create New List Dialog -->
   <div id="create_list" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header login-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Create List</h4>
            </div>
            <div class="modal-body">
                        <input type="text" placeholder="List Title" name="list-title" id='id_list_title'>
                        <textarea placeholder="Description" name='list-description' id='id_list_description'></textarea>
                </div>
            <div class="modal-footer">
                <button type="button" class="cancel" data-dismiss="modal">Close</button>
                <button type="button" id='id_create_list_btn' class="create-list" data-dismiss="modal">Create</button>
            </div>
        </div>

    </div>
	</div>

	<!-- Display All List Dialog -->
	<div id="all_lists" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header login-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Lists</h4>
                 <h5 class="modal-title">Click on List Item to View</h4>

            </div>
            <div class="modal-body">
				<ul class="list-group borderless" id='all-list-groups'>
  
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

	<!-- Display All Options-->
	<div id="all_options" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header login-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Options</h4>
            </div>
            <div class="modal-body">
                        <input type="text" placeholder="List Title" name="list-name">
                        <textarea placeholder="Description"></textarea>
                </div>
            <div class="modal-footer">
                <button type="button" class="cancel" data-dismiss="modal">Close</button>
                <button type="button" class="create-list" data-dismiss="modal">Save</button>
            </div>
        </div>

    </div>
</div>


	<!-- Success Message-->
	<div id="id_message" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header login-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                     <div id='id_display_message'>
                     </div> 
             </div>
            <div class="modal-footer">
                <button type="button" class="cancel" data-dismiss="modal">Close</button>
 
            </div>
        </div>

    </div>
</div>